
drupal/*
!drupal/sites
!drupal/.htaccess

drupal/sites/*
!drupal/sites/all

drupal/sites/all/*
!drupal/sites/all/modules
!drupal/sites/all/themes

drupal/sites/all/modules/*
!drupal/sites/all/modules/FloodProject

drupal/sites/all/themes/*
!drupal/sites/all/themes/FloodTheme
